*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'Gothambold' ;
    src: url(fonts/Gotham/GothamBold/Gotham\ Bold.otf);
}
@font-face {
    font-family:'Gothambook' ;
    src: url(fonts/Gotham/GothamBook/Gotham\ Book.otf);
}

/*--------------------------Movil screeam--------------------------------------------*/

@media (max-width:440px){
    body{
        width: 100%;
        height: 100vh;
        position: relative;
    }
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #5B5599;
    color: #F8C013;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
}

.head h1{
    font-size: 43px;
    font-family: Gothambold;
}
.head h2{
    font-size: 24px;
    font-weight: lighter;
    font-family: Gothambook;
}
.carnetacc{
    width: 90%;
    height: 15hv;
    background-color: #5B5599;
    margin: 50px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;   
}
.logo{
    opacity: 0.3;
}
.user{
    display: flex;
    width: 86px;
    height: 86px;
    position: absolute;
    right: 30px;
    background-color: #ffff;
    border-radius: 100%;
}
.carnetacc p{
    color: #F8C013;
    font-family: Gothambold;
    font-size: 24px;
    padding-left: 30px;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 30vh;
}
.conteup{
    display: flex;
    margin: 10px 20px;
}
.contedown{
    display: flex;
    margin: 10px 20px;

}
.links{
    width: 17vw;
    height: 15vh;
    border-radius: 20px;

}

#q10{
    background-color:#F79623 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
    
}
#q10 img{
    height: 65px;
    width: 100px;
    padding: 10px;
}
#aula{
    background-color:#5B5599  ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}
#aula img{
    height: 80px;
    width: 115px;
    margin-top: 10px;
    padding: 10px;
}
#gmail{
    background-color:#E6E6E6  ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}
#gmail img{
    height: 65px;
    width: 65px;
    margin-top: 10px;
    padding: 10px;
}
#teams{
    background-color:#E6E6E6 ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 15px;
}
#teams img{
    height: 65px;
    width: 65px;
    margin-top: 10px;
    padding: 10px;
}
.icons img{
    width: 44px;
    height: 44px;
    margin: auto;

}
nav{
    width: 90%;
    height: 6vh;
    background-color: #F8C013;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    position: absolute;
    bottom: 40px;

}
