*{
    margin: 0;
    padding: 0;
    
}

@font-face {
    font-family:'Gothambold' ;
    src: url(fonts/Gotham/GothamBold/Gotham\ Bold.otf);
}
@font-face {
    font-family:'Gothambook' ;
    src: url(fonts/Gotham/GothamBook/Gotham\ Book.otf);
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #5B5599, #1b1A2C);
}


img{
    width: 500px;

}
input:focus{
    background-color: transparent;
    outline: 2px solid #F8C013;
}
.container_form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#ffffff40;
    width: 440px;
    height: 400px;
    border-radius: 20px;

}
.inicarFull{

    width: 70%;
    height: 51px;
    background-color:#F8C013;
    border: none;
    border-radius: 20px;
    font-weight:bolder ;
    font-size: 24px;
    margin: 30px auto;
    padding: 10px;
    font-family: Gothambold;

}

@media(min-width:441px){
    .inicar{
    display: none;
}
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inpform{
        width: 90%;
        height: 50px;
        border-radius: 20px;
        font-size: 16px;
        background-color: transparent;
        border: #F8C013 solid 1px;
        color: #F8C013;
        font-family: Gothambook;
        margin: 10px auto;
        padding-left: 15px;
}
input::placeholder{
    color: transparent;
}
label{
    color: #F8C013;
    margin: 20px 30px;
    font-family: Gothambook;
}


p{
    font-size: 20px;
    margin: 20px;
    width: 240px;
    color: #F8C013;
    text-align: center;
    font-family:Gothambook ;
}
a{
    text-decoration: none;
    font-size: 20px;
    color:#F8C013;
    margin-bottom: 30px;
    font-family:Gothambook ;
}


/*--------------------------Movil screeam--------------------------------------------*/

@media (max-width:440px){
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: linear-gradient(135deg, #5B5599, #1b1A2C);
    }
    .inicarFull{
        display: none;
    }
    label{
        display: none;
    }
    img{

        width: 100%;
        margin-bottom: 50px;
        
    }

    .container_form{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#ffffff40;
        width: 90%;
        height: 290px;
        border-radius: 20px;
    }

    form{
        width: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .inicar{

        width: 90%;
        height: 61px;
        background-color:#F8C013 ;
        border: none;
        border-radius: 20px;
        font-weight:bolder ;
        font-size: 24px;
        margin-top: 50px;
        padding: 10px;
        font-family: Gothambold;
    }
    .inpform{
        width: 90%;
        height: 60px;
        border-radius: 20px;
        font-weight:bolder ;
        font-size: 20px;
        background-color: transparent;
        border: #F8C013 solid 1px;
        color:#F8C013;
        font-family: Gothambook;
        margin: 30px 20px;

    }

    input::placeholder{
        color:#F8C013;
        font-family:Gothambook ;
        padding-left: 15px;
    }


    p{
        font-size: 20px;
        margin: 24px;
        width: 240px;
        color:#F8C013;
        text-align: center;
        font-family:Gothambook ;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        color:#F8C013;
        font-family:Gothambook ;
    }

}
